{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [
          ".ios.ts",
          ".android.ts",
          ".ts",
          ".ios.tsx",
          ".android.tsx",
          ".jsx",
          ".js",
          ".json"
        ],
        "alias": {
          "@navigation": "./src/Navigation",
          "@screen": "./src/Screen",
          "@assets": "./assets",
          "@root": "./src",
          "@components": "./src/Components",
          "@redux": "./src/Redux"
        }
      }
    ]
  ]
}
